/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
public/imports/SC_products.json
public/imports/SC_product_pictures.json
public/imports/products_pictures/*
public/imports/products_pictures.zip
